# systemd unit file for the Python Demo Service
[Unit]
# Human readable name of the unit
Description=Service that uploads to mixcloud
After=multi-user.target
[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 -u /home/johnpeel/app-engine-test/main.py

# Automatically restart the service if it crashes
Restart=on-failure

# Our service will notify systemd once it is up and running
Type=simple

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=multi-user.target